.row {
  display: flex;
}

.perle {
  border: 1px solid #647677;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.color {
  width: 100px;
  height: 30px;
  border: 1px solid #647677;
  margin: 2px;
}


/*body {
  display: flex;
}



.cell {
  width: 10px;
  height: 10px;
  border: 1px solid Black;
  cursor: pointer;
}

#color-picker,
#size-box {
  display: flex;
  flex-direction: column;
}

.color {
  width: 20px;
  height: 20px;
  cursor: pointer;
}*/
