.step-wizard-lab {
    display: flex;
    flex-direction: row;
}

.step {
    flex: auto;
}

.nb-step span {
    padding: 30px;
    background: no-repeat center/100% url("../../../../assets/images/polygone.jpg");
    cursor: pointer;
    font-family: 'Satisfy', cursive;
    font-size: 24px;
}

.step-wizard-lab > .active > span:hover,
.step-wizard-lab > .active > span:focus{
    border: 1px solid #5f5f5f;
    background: #00b0a5;
}

/*.step-wizard-lab span {
    border-width: 0px 80px 80px 80px;
    border-color: transparent transparent  #00b0a5 transparent
}*/


.progress {
    height: 10px;
    margin-right: 5%;
    margin-left: 5%;
}

.progress-bar {
    background: #00b0a5;
}
